---
title: About
permalink: /about/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

      <section class="wrapper container" style="margin-top: 100px;">
        <div class="" style="display: flex;justify-content: center; height: 300px; margin-bottom: 50px;">
          <div class="" style="display: flex;">
            <img src="../assets/face1.jpg" alt="" style=" height: 300px; margin-right: 50px;">

          </div>
          <div class="display: flex;">
            <img src="../assets/face2.jpg" alt="" style=" height: 300px;">
          </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis animi iure corporis quia culpa reprehenderit ipsam sunt totam, molestias laboriosam expedita doloribus natus in explicabo voluptatum tempora asperiores provident, adipisci tempore nam dolores. Iusto magni expedita sed eaque cupiditate ipsa, fugit repellat, ipsum autem totam quas reiciendis minus cum quos!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis animi iure corporis quia culpa reprehenderit ipsam sunt totam, molestias laboriosam expedita doloribus natus in explicabo voluptatum tempora asperiores provident, adipisci tempore nam dolores. Iusto magni expedita sed eaque cupiditate ipsa, fugit repellat, ipsum autem totam quas reiciendis minus cum quos!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis animi iure corporis quia culpa reprehenderit ipsam sunt totam, molestias laboriosam expedita doloribus natus in explicabo voluptatum tempora asperiores provident, adipisci tempore nam dolores. Iusto magni expedita sed eaque cupiditate ipsa, fugit repellat, ipsum autem totam quas reiciendis minus cum quos!</p>

      </section>


      {% include footer.html %}


    </div>

</body>
