---
title: About
permalink: /about/
---

<body class="index" >

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">OUR STORY</h2>

				<p style="background: antiquewhite; padding: 1.5em;">
					WE HAVE BEEN ADDING VALUE AND BEAUTY TO AN OUTSTANDING VARIETY OF  PERIOD ANTIQUE PIECES AND FINE CONTEMPORY FURNITURE SINCE 1989.  <br><br>

					HAVING STARTED OUR BUSINESS DURING THE EIGHTIES ANTIQUE BOOM, OUR TRAINING WAS IN AND OUR EMPHASIS  WAS ON CONSERVATIVE RESTORATION  AND CONSERVATION.  HOWEVER, SINCE THEN INTERIOR STYLES HAVE BECOME SO MUCH MORE ECLECTIC AND INCLUSIVE.  WE HAVE APPLIED OUR EXPERTISE AND DEVELOPED NEW SKILLS  TO INCLUDE 20TH CENTURY AND MODERN QUALITY FURNITURE.  MANY VARIED AND INTERESTING  PROJECTS ALSO CONTINUE TO COME OUR WAY, REQUIRING CREATIVE, “OUT OF THE BOX” SOLUTIONS! THESE HAVE INCLUDED REPAIRS TO OLD PAINTED FINISHES, GILDING, ANTIQUING TECHNIQUES, ARCHITECTURAL  FITTINGS AND MORE.  HAVE A LOOK IN OUR GALLERY. <br><br>

					OUR ON SITE RESTORATION AND REPAIR  SERVICE  IS VERY USEFUL FOR PIECES THAT ARE TOO LARGE TO MOVE OR FOR CLIENTS WHO WANT US TO GIVE A WHOLE COLLECTION OF PIECES A NEW LEASE ON LIFE.  THIS WORK INCLUDES IMPROVING UNSIGHTLY WEAR AND TEAR DAMAGES THROUGHOUT THE HOME. <br><br>

					WE ARE COMMITED TO UNCOMPROMISING QUALITY OF WORKMANSHIP IN OUR RESTORATION  AND REPAIRS, HAVING WORKED FOR MANY FINE ANTIQUE DEALERS, DECORATORS, PASSIONATE PRIVATE COLLECTORS AND LOVERS OF FINE MODERN FURNITURE.  OUR CLIENTS CONTINUE TRUSTING US TO OFFER A PERSONAL SERVICE OF THE HIGHEST QUALITY. <br><br>

					OUR APPROACH INCLUDES BEING MINDFUL OF THE TASTE AND WISHES OF EACH CLIENT,  AS WELL AS THE SPECIFIC RESTORATION REQUIREMENTS OF EACH INDIVIDUAL PIECE.
				</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/about1.jpg" | relative_url }}" alt="hugh working with wood">
					<img src="{{ "/assets/about2.jpg" | relative_url }}" alt="verna working on veneer">
					<img src="{{ "/assets/about3.jpg" | relative_url }}" alt="hugh working with glass">
					<img src="{{ "/assets/about4.jpg" | relative_url }}" alt="restoring an old cabinet">
					<img src="{{ "/assets/about5.jpg" | relative_url }}" alt="fixing a broken frame">
					<img src="{{ "/assets/about6.jpg" | relative_url }}" alt="successful antique repairs">
				</div>

      </section>


      {% include footer.html %}


    </div>

</body>
