---
title: ART DECO DISPLAY CABINET WITH VENEER DAMAGE
permalink: /art-deco-display-cabinet-with-damaged-veneer/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">ART DECO DISPLAY CABINET WITH VENEER DAMAGE</h2>

				<p style="text-transform: uppercase;">
THE WATER DAMAGES ON THIS PIECE WERE MINOR COMPARED TO THE  COMPLICATIONS CAUSED  BY GLUE FAILURE OVER TIME. THIS RESULTED IN VENEER POPPING OFF IN MANY PLACES.  WE HAD TO LIFT MANY LOOSE SECTIONS AND REGLUE USING ‘OLD FASHIONED’ BONE GLUE.  MISSING VENEER WAS REPLACED WITH MATCHING WALNUT.   WE FED THE PIECE WITH A GOOD OIL MIXTURE WHICH ENHANCED THE TONES BEAUTIFULLY, FOLLOWED BY FRENCH POLISH.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/art1.jpg" | relative_url }}" alt="art deco display cabinet in full view">
					<img src="{{ "/assets/art2.jpg" | relative_url }}" alt="side view of art deco display cabinet">
					<img src="{{ "/assets/art3.jpg" | relative_url }}" alt="veneer damage on art deco display cabinet">
					<img src="{{ "/assets/art4.jpg" | relative_url }}" alt="repaired veneer damage on art deco display cabinet">
          <img src="{{ "/assets/art5.jpg" | relative_url }}" alt="interior cabinet damage">
					<img src="{{ "/assets/art6.jpg" | relative_url }}" alt="restored cabinet damage">


				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
