---
title: BOULLE CABINET IN DISTRESS
permalink: /boule-cabinet-in-distress/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">BOULLE CABINET IN DISTRESS</h2>

				<p style="text-transform: uppercase;">
Boulle is a style of marquetry using tortoise shell and brass inlay, perfected by Andre-Charles Boulle, Louis XIV’s cabinetmaker.<br><br>
This ebonized cabinet is not only elaborately inlayed with tortoise shell and brass, but is also embellished with finely cast bronze fittings.<br><br>
The restoration was quite an undertaking, as the damage was extensive.  Much of the detailed inlay and stringing was raised, loose or missing and many of the moulded bronze fittings had been lost over the years. <br><br>
Tracings were made of the missing brass inlay.  These pieces were then laser cut from brass sheeting and carefully fitted into place.
<br><br>
Due to cost restraints, we were unable to replace the missing bronze fittings with cast metal.  We therefore chose to have moulds made and the missing pieces were then cast in resin.  These we gilded and then antiqued the gold to resemble the original bronze.
<br><br>
A GRUELING BUT SUCCESSFULL RESTORATION.  <a href="{{ site.baseurl }}{% link _pages/references.html %}">READ CLIENT’S RESPONSE IN REFERENCES – JUDY BESTER, PLETTENBERG BAY.</a>
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/boulle1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/boulle2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/boulle3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/boulle4.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/boulle5.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/boulle6.jpg" | relative_url }}" alt="">

				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
