---
title: AN EXQUISITE COLLECTION OF CHINESE ANTIQUES
permalink: /chinese/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">AN EXQUISITE COLLECTION OF CHINESE ANTIQUES</h2>

				<p style="text-transform: uppercase;">
          THIS COLLECTION FORMED PART OF A DECEASED ESTATE AND FILLED AN ENTIRE HOME! <br> <br>
          EACH PIECE WAS LOVINGLY COLLECTED IN PRE COMMUNIST CHINA AND BROUGHT TO SOUTH AFRICA  BEFORE THE REVOLUTION.  <br> <br>
          AFTER MUCH NEEDED RESTORATION THE COLLECTION WAS SHIPPED OFF AGAIN...TO AUSTRALIA.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/chinese1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/chinese2.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/chinese3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/chinese4.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/chinese5.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/chinese6.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/chinese7.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/chinese8.jpg" | relative_url }}" alt="">



				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
