---
title: Collection of Italian Furniture
permalink: /collection-of-italian-furniture/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE</h2>

				<p>
          THESE PIECES ARE PART OF A VASTE COLLECTION OF ITALIAN FURNITURE COLLECTED OVER THE YEARS.  THE TERRIBLE TALE IS THAT THE CLIENT LOST MANY OF HER PIECES IN A FIRE AND WE RESTORED THOSE THAT COULD BE SAVED.
<br><br>
FIRST ALL THE CRACKLED, BUBBLED AND FLAKING FINISHES HAD TO BE PAINSTAKINGLY REMOVED. WE THEN GOT ON WITH THE JOB OF RESTORING THE GILDED AND PAINTED FINISHES AND MAKING SURE THEY WERE  THEN “AGED”  AS BEFORE.
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/italian-furniture1.jpg" | relative_url }}" alt="carved and gilded furniture">
					<img src="{{ "/assets/italian-furniture2.jpg" | relative_url }}" alt="italian furniture collection">
					<img src="{{ "/assets/italian-furniture3.jpg" | relative_url }}" alt="A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE">
					<img src="{{ "/assets/italian-furniture4.jpg" | relative_url }}" alt="A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE 2">
          <img src="{{ "/assets/italian-furniture5.jpg" | relative_url }}" alt="A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE 3">
          <img src="{{ "/assets/italian-furniture6.jpg" | relative_url }}" alt="A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE 4">
          <img src="{{ "/assets/italian-furniture7.jpg" | relative_url }}" alt="A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE 5">
          <img src="{{ "/assets/italian-furniture8.jpg" | relative_url }}" alt="A FINE COLLECTION OF CARVED, PAINTED AND GILDED ITALIAN FURNITURE 6">

				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
