---
title: CONSERVING YOUR ANTIQUE FURNITURE
permalink: /conserving-your-antique-furniture/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">CONSERVING YOUR ANTIQUE FURNITURE</h2>

				<p style="text-transform: uppercase;">
THE BEST THING YOU CAN DO FOR YOU ANTIQUE FURNITURE IS TO FEED THE RAW CARCASS WOOD USING A MIXTURE OF NATURAL OILS, TREAT FOR WORM INFESTATION AND PROTECT FROM DIRECT SUN AND WATER.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/conserve1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/conserve2.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/conserve3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/conserve4.jpg" | relative_url }}" alt="">




				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
