---
title: Contact
permalink: /contact/
---

<body class="contact">

	<div id="page-wrapper">

			{% include header.html %}

      <header class="special container" style="margin-top: 20vh;">
        <span class="icon fa-envelope"></span>
        <h2 style="padding-top: 3em;">Get In Touch</h2>
        <p>Use the form below to contact us regarding your specific restoration needs </p>
        <p> TEL: 021 715 2433 <strong>WORKSHOP</strong> <br> TEL: 083 532 7026 <strong>CELL</strong></p>
      </header>

      <!-- One -->
        <section class="wrapper style4 special container 75%">

          <!-- Content -->
            <div class="content">
              <form name-"contact" netlify>
                <div class="row 50%">
                  <div class="6u 12u(mobile)">
                    <input type="text" name="name" placeholder="Name" />
                  </div>
                  <div class="6u 12u(mobile)">
                    <input type="text" name="email" placeholder="Email" />
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <input type="text" name="subject" placeholder="Subject" />
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <textarea name="message" placeholder="Message" rows="7"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="12u">
                    <ul class="buttons">
                      <li><input type="submit" class="special" value="Send Message" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>

        </section>

			{% include footer.html %}


	</div>

</body>
