---
title: CREATIVE ‘COSMETICS’ ON A MISMATCHED VENEER PATCH
permalink: /creative/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">CREATIVE ‘COSMETICS’ ON A MISMATCHED VENEER PATCH</h2>

				<p>
THIS FIGURED  WALNUT VENEERED TABLE ARRIVED WITH AN UNSIGHTLY  AND MISMATCHED PATCH.  <br><br>
THE CLIENT WANTED TO KEEP THE COST DOWN, SO INSTEAD OF REMOVING THE OLD REPAIR, WE  APPLIED  SOME CREATIVE “COSMETICS” TO MAKE IT DISAPPEAR!	</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/creative1.jpg" | relative_url }}" alt="damaged furniture before photo">
					<img src="{{ "/assets/creative2.jpg" | relative_url }}" alt="restored damaged furniture">


				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
