---
title: CREATING AGE AND PATINA
permalink: /creating-age-and-patina/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">CREATING AGE AND PATINA</h2>

				<p style="text-transform: uppercase;">
THE CLIENT  WANTED A CABINET  DESIGNED  TO FIT A SPECIFIC SPACE WITH A SPECIFIC PURPOSE.<br><br>
        THE CHALLENGE WAS TO MAKE SURE IT WAS NOT OUT OF PLACE AMONG THEIR ANTIQUE PIECES!<br><br>
    WE EMPLOYED MANY “AGING” TECHNIQUES AND LOTS OF LAYERING, WITH A FINAL FRENCH POLISH AND WAX. <br><br>
  CAREFULL CHOICE OF HANDLES ADDED THE FINAL TOUCH! </p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/patina1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/patina2.jpg" | relative_url }}" alt="">




				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
