---
title: Damaged Ebony Library Table
permalink: /ebony-library-table/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">EBONY LIBRARY TABLE WITH DAMAGED LEATHER TOP AND BRASS INLAY REPAIRS</h2>

				<p>
THIS GRAND LIBRARY TABLE WAS SEVERELY WATER DAMAGED. <br><br>
THE LEATHER WAS A MESS!  WE CHOSE TO TAKE ON THE CHALLENGE  TO PRESERVE THE ORIGINAL LEATHER.   THE  LOOSE BITS WERE CAREFULLY  RE STRETCHED AND GLUED DOWN WITH PERIOD APPROPRIATE BONE GLUE.  PATCHES  WHERE FITTED WHERE  NECESSARY.  AFTER FINISHING TO A SOFT SHEEN, THE RESULT  WAS A GORGEOUS, SMOOTH, FLAT LEATHER  <br><br>
BRASS INLAY AND STRINGING WAS LOOSE OR MISSING.  THIS WAS REPLACED AND ALL BRASS MOULDINGS REMOVED AND CLEANED.  ONCE CLEANED AND SEALED BRASS WAS RE FITTED, THE WHOLE PIECE WAS  FRENCH POLISHED.			</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/ebony-damaged-leather1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/ebony-damaged-leather2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/ebony-damaged-leather3.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/ebony-damaged-leather4.jpg" | relative_url }}" alt="">

				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
