---
title: ART DECO ARM CHAIRS WITH VENEER DAMAGE
permalink: /deco/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">ART DECO ARM CHAIRS WITH VENEER DAMAGE</h2>

				<p style="text-transform: uppercase;">
A LOVELY MATCHING PAIR, BUT WITH PLENTY OF WEAR AND TEAR.  UNSIGHTLY OLD REPAIRS WERE REVERSED AND OTHER DAMAGES REPAIRED WITH MATCHING VENEER.  A FINAL FRENCH POLISH ADDS A RICH WARM GLOW.
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/deco1.jpg" | relative_url }}" alt="arm chairs with veneer damage 1">
					<img src="{{ "/assets/deco2.jpg" | relative_url }}" alt="arm chairs with veneer damage 2">
          <img src="{{ "/assets/deco3.jpg" | relative_url }}" alt="arm chairs with veneer damage 3">
					<img src="{{ "/assets/deco4.jpg" | relative_url }}" alt="arm chairs with veneer damage 4">



				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
