---
title: FIRE DAMAGE REPAIRS
permalink: /fire-damage/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">FIRE DAMAGE REPAIRS</h2>

				<p>
NUMEROUS FIRE DAMAGED PIECES HAVE PAST THROUGH OUR WORKSHOP.  <br><br>
OFTEN THE WORST DAMAGE IS CAUSED BY SMOKE WHICH LEAVES A NASTY, STICKY SOOT LAYER.
WE REMOVE THE SOOT  AND MUCH OF THE SMOKEY SMELL WITH A SPECIAL SOLVENT AND A LOT OF CARE TO AVOID TOO MUCH DAMAGE TO THE ORIGINAL FINISH ON THE PIECE. <br><br>
WE FIND THAT ANY SMALL DAMAGES TO THE WOOD SURFACE CAN BE SCRAPED CAREFULLY AND FILLED.  LARGER DAMAGES ARE REPLACED WITH MATCHING WOOD PATCHES	</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/fire1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/fire2.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/fire3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/fire4.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/fire5.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/fire6.jpg" | relative_url }}" alt="">


				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
