---
title: Gallery
permalink: /gallery/
---

<body class="contact">

	<div id="page-wrapper" >

			{% include header.html %}

      <div class="special container"style="margin-top: 100px; text-align: center;">
        <h2>A Temporary Gallery Header</h2>
        <p>More details to come</p>
      </div>
      <div class="swiper-container3">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="{{ site.baseurl }}{% link _pages/story.html %}">
                  {% img test10 %}

                </a>

              </div>
              <div class="swiper-slide">
                <a href="{{ site.baseurl }}{% link _pages/story.html %}">
                  {% img test9 %}

                </a>

              </div>
              <div class="swiper-slide">
                <a href="{{ site.baseurl }}{% link _pages/story.html %}">
                  {% img test7 %}

                </a>

              </div>
              <div class="swiper-slide">
                <a href="{{ site.baseurl }}{% link _pages/story.html %}">
                  {% img test1 %}

                </a>

              </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination3"style="text-align: center;"></div>
      </div>

			{% include footer.html %}


	</div>

</body>
