---
title: GEORGIAN CARD TABLE WITH DAMAGED BAIZE
permalink: /georgian-card-table-with-damaged-baize/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">GEORGIAN CARD TABLE WITH DAMAGED BAIZE</h2>

				<p style="text-transform: uppercase;">
          BESIDES THE VERY WORN AND DAMAGED FRENCH POLISH, THE BAIZE ON THIS CARD TABLE WAS IN TATTERS.
WE ALWAYS USE GOOD QUALITY BAIZE AND FIT IT CAREFULLY USING BONE GLUE, WHICH IS REVERSABLE.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/george1.jpg" | relative_url }}" alt="TABLE WITH DAMAGED BAIZE">
					<img src="{{ "/assets/george2.jpg" | relative_url }}" alt="TABLE WITH DAMAGED BAIZE">
					<img src="{{ "/assets/george3.jpg" | relative_url }}" alt="TABLE WITH fixed BAIZE ">
					<img src="{{ "/assets/george4.jpg" | relative_url }}" alt="TABLE WITH restored BAIZE">



				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
