---
title: RESTORING A TREASURED GUN BOX
permalink: /gun/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">RESTORING A TREASURED GUN BOX</h2>

				<p style="text-transform: uppercase;">
        THIS GUN BOX IS THE CLIENTS TREASURE AND ALTHOUGH IT WAS  A LENGTHY RESTORATION, HE WANTED EVERY ‘I’ DOTTED AND EVERY ‘T’ CROSSED! <br><br>
        THE INSIDE WAS DISASSEMBLED AND ALL BAIZE AND FABRIC REMOVED BEFORE WE COULD GET BUSY WITH THE FUN STUFF.  <br><br>
        BAIZE WAS REFITTED TO ALL THE BITS, MAKING SURE THEY COULD ALL FIT BACK TOGETHER AGAIN PROPERLY.  ONCE THE BOX WAS REPAIRED, NEW FABRIC WAS FITTED, WORKING CAREFULLY AROUND THE BRASS AND LEATHER.
        <br><br>
        FINAL TOUCHES WERE REPAIRING THE LEATHER HANDLE AND REPLACING THE LABEL WITH ONE THE CLIENT IMPORTED FROM ENGLAND, SUITABLE FOR THE GUN HE WAS HOUSING IN THE BOX.
      </p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/gun1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/gun2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/gun3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/gun5.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/gun6.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/gun4.jpg" | relative_url }}" alt="">
				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
