---
title: HORSE WITH BRASS AND IVORY EMBELLISHMENT
permalink: /horse/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">HORSE WITH BRASS AND IVORY EMBELLISHMENT</h2>

				<p style="text-transform: uppercase;">
          This small treasure was discovered in a junk shop while meandering down Kalk Bay main road. <br>
          The beautiful embellishment was hidden under lots of grime and the old finish was flaking off. <br>
          Sensitive stripping revealed beautiful aged ivory, detailed brass and the soft patterning of the wood. We decided to seal the whole piece with shellac which would prevent future tarnishing of the brass. A light French polish finished the restoration off nicely with a light sheen.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/horse1.jpg" | relative_url }}" alt="HORSE WITH BRASS AND IVORY EMBELLISHMENT 1">
					<img src="{{ "/assets/horse2.jpg" | relative_url }}" alt="HORSE WITH BRASS AND IVORY EMBELLISHMENT 2">
          <img src="{{ "/assets/horse3.jpg" | relative_url }}" alt="HORSE WITH BRASS AND IVORY EMBELLISHMENT 3">
					<img src="{{ "/assets/horse4.jpg" | relative_url }}" alt="HORSE WITH BRASS AND IVORY EMBELLISHMENT 4">




				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
