---
title: PAPER MACHE AND DELICATE INLAY REPAIRSS
permalink: /mache/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">PAPER MACHE AND DELICATE INLAY REPAIRS</h2>

				<p style="text-transform: uppercase;">
This three tiered side table has an ebonized paper mache finish with beautifully delicate brass and mother-of-pearl inlay.   <br><br>
This restoration was definitely a challenge that we were tempted to walk away from!  The paper mache  was lifting and crumbling and the tiny bits of inlay were loose, lost or buried under a previous attempt to salvage the piece.
However, there was huge sentimental value attached to this table, so we resisted the urge to run and got stuck in. <br><br>
After stabilizing what could be saved, the surface was repaired. In this process we had to remove and re lay many of the tiny pieces of brass and mother-of-pearl.
Exposing the hidden pieces of inlay was also extremely delicate work, as they would pop out at the slightest touch due to the brittle nature of the surface.
Once all this work was done, the ebonized finish had to be restored without covering over any of the
inlay.  TRICKY.  The whole piece was then French polished. <br><br>
The client was overjoyed and we were relieved!
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/mache1.jpg" | relative_url }}" alt="PAPER MACHE AND DELICATE INLAY REPAIRS 1">
					<img src="{{ "/assets/mache2.jpg" | relative_url }}" alt="PAPER MACHE AND DELICATE INLAY REPAIRS 2">
          <img src="{{ "/assets/mache3.jpg" | relative_url }}" alt="PAPER MACHE AND DELICATE INLAY REPAIRS 4">
					<img src="{{ "/assets/mache4.jpg" | relative_url }}" alt="PAPER MACHE AND DELICATE INLAY REPAIRS 3">



				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
