---
title: Mid Century Modern danish Coffee Tables
permalink: /mid-century-modern-danish-coffee-tables/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">MID CENTURY MODERN DANISH COFFEE TABLES</h2>

				<p>
          THIS SUPERB PAIR OF COFFEE TABLES BY JOHANNES ANDERSEN SILKEBORG HAD EXTENSIVE LIGHT DAMAGE TO THE OLD VARNISH FINISH.
<br><br>
THE CLIENT WANTED A STRONG VARNISH FINISH THAT WOULD MANAGE HOT MUGS AND WET DRINKS!
<br><br>
WE CHOSE TO USE A MARINE VARNISH WHICH WE BUFFED TO A SOFT SHEEN.
<br><br>
FEEDING THE DRY WOOD WITH A GOOD FEEDER BEFORE APPLICATION BROUGHT THE CONTRAST AND TONES BACK TO LIFE
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/danish-coffee1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/danish-coffee2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/danish-coffee3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/danish-coffee4.jpg" | relative_url }}" alt="">

				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
