---
title: ON SITE RESTORATION OF ARCHITECTURAL FITTINGS
permalink: /on-site-restoration-of-architectural-fittings/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">ON SITE RESTORATION OF ARCHITECTURAL FITTINGS</h2>

				<p style="text-transform: uppercase;">
          OVER THE YEARS WE HAVE DONE MANY INTERESTING RESTORATIONS OF THIS NATURE.<br><br>
        THESE INCLUDE STAIR BANISTERS, ANTIQUING NEW YELLOWWOOD AND STINKWOOD DOORS, AS WELL AS  EXTENSIVE WORK ON A  FITTED KITCHEN MADE WITH  BEAUTIFULLY CARVED UNITS BELONGING TO AN OLD PHARMACY FROM FRANCE.<br><br>
      A FEW INTERESTING LOCATIONS HAVE BEEN WHEN CALLED IN  TO FRENCH POLISH  WOOD PANELLED LIFTS OR TO RESTORE  THE FINISHES INSIDE A COUPLE OF LUXURY YACHTS!</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/fittings1.jpg" | relative_url }}" alt="ON SITE RESTORATION OF ARCHITECTURAL FITTINGS">
					<img src="{{ "/assets/fittings2.jpg" | relative_url }}" alt="ON SITE RESTORATION OF ARCHITECTURAL FITTINGS 2">
					<img src="{{ "/assets/fittings3.jpg" | relative_url }}" alt="ON SITE RESTORATION OF ARCHITECTURAL FITTINGS 3">
					<img src="{{ "/assets/fittings4.jpg" | relative_url }}" alt="ON SITE RESTORATION OF ARCHITECTURAL FITTINGS 4">



				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
