---
title: ON SITE RESTORATION OF ANTIQUE AND CONTEMPORARY FURNITURE
permalink: /on-site-restoration/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">ON SITE RESTORATION OF ANTIQUE AND CONTEMPORARY FURNITURE</h2>

				<p>
Our On Site restoration is an additional service that has proved to be  invaluable to many...in homes, guest houses, hotels and more. <br><br>
The damages to furniture might not always be severe, but there are always those irritating scratches, water marks and other unsightly wear and tear damages that need attention. <br><br>
Other advantages are no unpacking, no secondary transport damage, very cost effective, QUICK, CLEAN AND TIDY! </p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/on-site-restoration11.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/on-site-restoration2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/on-site-restoration3.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/on-site-restoration4.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/on-site-restoration6.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/on-site-restoration7.jpg" | relative_url }}" alt="">

				</div>

      </section>


      {% include footer.html %}


    </div>

</body>
