---
title: References
permalink: /references/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

      <section class="wrapper container" style="margin-top: 100px;">

        <h2 style="text-align: center; font-weight: bold;">REFERENCES</h2>

        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            IN ALL THE 24 YEARS THAT I RAN BYGONES ANTIQUES IN CONSTANTIA, CAPE TOWN, HUGH LANE WAS THE BEST RESTORER I EVER WORKED WITH.  WE DEALT IN ALMOST EVERY KIND OF ANTIQUE ENGLISH AND FRENCH FURNITURE, FROM 18TH C (AND EARLIER) OAK AND WALNUT, RIGHT THROUGH THE AGE OF MAHOGANY AND ON THROUGH TO CURVY VICTORIAN AND NAPOLEON 111 – AND HUGH WAS EQUAL TO IT ALL.  AS THE FASHION FOR ANTIQUE PAINTED FURNITURE TOOK HOLD, VERNA JOINED HUGH’S WORKSHOP TO WORK WITH ANTIQUE PAINTED SURFACES AND GILDED ITEMS, WORKING TO THE SAME HIGH STANDARDS.
          </p>
          <p>
            ONE OF THE THINGS I MOST ENJOYED ABOUT WORKING WITH HUGH IS HIS LIGHTNESS OF TOUCH IN RESTORATION – ALWAYS KNOWING WHEN TO STOP, UNDERSTANDING THE DELICATE ART OF MAKING A PIECE LOOK LOVED AND CARED FOR, BUT NOT BRAND NEW.  WE ALSO APPRECIATED THE EFFICIENCY WITH WHIC THE WORKSHOP IS RUN – ONCE HUGH COLLECTS AN ITEM FROM YOU, HE ALWAYS DELIVERS WITHIN THE PROMISED TIMEFRAME – THERE’S NO QUESTION OF YOUR EXPENSIVE PIECE OF FURNITURE MOULDERING AWAY IN A CORNER UNTIL SOMEONE GETS ROUND TO IT, A VERY COMMON PRACTICE ELSEWHERE...
          </p>
          <p>
            WHETHER YOU’RE A PROFESSIONAL IN THE ANTIQUE TRADE, OR A PRIVATE COLLECTOR, I’M SURE THAT HUGH LANE AND HIS ANTIQUE WORKSHOP WILL DELIVER THE BEST RESTORATION IN SOUTH AFRICA.
          </p>
          <sub style="font-style: italic;">
            -SHEILA BOARDMAN PAST CHAIRMAN OF THE SA ANTIQUE DEALERS ASSOCIATION
  				</sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            RESTORATION OF THE BOULE CABINET.
          </p>
          <p>
            I AM ABSOLUTELY DELIGHTED WITH THE RESULTS AND STAND IN AWE OF THE SKILL YOU POSSESS AND AM FILLED WITH GRATITUDE FOR THE TIME AND PATIENCE IT MUST HAVE TAKEN TO RESTORE HER TO HER FORMER GLORY.  I WAS MORTIFIED THAT SHE WAS FALLING INTO SUCH A BAD STATE OF REPAIR WHILST I WAS HER CUSTODIAN, AND NOW HAVE A REAL SENSE OF SATISFACTION TO SEE HER LOOKING BEAUTIFUL.  FOR THE FIRST TIME IN MANY MONTHS I AM ON MY OWN THIS WEEKEND, AND I TOOK MYSELF OFF TO TURN ON THE LIGHTS IN THE DINING ROOM, AND WAS FILLED WITH RENEWED DELIGHT SEEING HER GLOW IN THE SOFT LAMPLIGHT, HER ORNATE SPLENDOUR ADDING A WONDERFUL DIMENSION TO THE ROOM.
          </p>
          <p>
            THANK YOU BOTH SO MUCH!
          </p>
          <sub style="font-style: italic;">
            -JUDY BESTER, PLETTENBERG BAY
          </sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            DEAR HUGH AND VERNA,
          </p>
          <p>
            YESTERDAY I CAME BACK FROM MY HOLIDAYS, AND THIS MORNING, WITH THE HELPERS PRESENT, WE UNPACKED THE CRATES.  STUTTAFORDS ALSO DID A GOOD JOB THERE.  IT IS SO AMAZING WHAT  YOU DID TO THESE TWO PIECES OF FURNITURE, ABSOLUTELY BEAUTIFUL.  NOW THEY CAN WITHSTAND THE DRY NAMIBIAN WEATHER FOR ANOTHER HUNDRED YEARS, I HOPE.  THANK YOU SO MUCH. I WILL ALWAYS RECOMMEND YOU TO OTHERS.
          </p>
          <sub style="font-style: italic;">
            -KARIN BEHNSEN, WINDHOEK
          </sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            I LOVE THE WORK  YOU DID FOR ME.  I THINK YOU WERE EFFICIENT, PROFESSIONAL, EASY TO TALK TO AND HELPFUL.
          </p>
          <sub style="font-style: italic;">
            -ROBYN PATZ, TENIQUA TREETOPS
          </sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            DEAR HUGH
          </p>
          <p>
            A QUICK NOTE TO SAY THANK YOU FOR YOUR EFFICIENT AND RESOURCEFUL (ON SITE) RESTORATION OF THE FURNITURE IN MY CLIENT’S HOME.  EVERYTHING LOOKS BEAUTIFUL AGAIN!
          </p>
          <p>
            I WAS AMAZED AT THE RANGE OF PROBLEMS YOU MANAGED TO SOLVE...FROM THE SUN FADED WOOD FINISHES TO THE WATER MARKED LEATHER TABLE AND ALSO NOT FORGETTING THE CHIPPED MARBLE STAIR REPAIR.
          </p>
          <p>
            YOUR PATIENCE WITH THE HUNDREDS OF TINY WATERMARKS ON THE WOOD PANELLING WHICH WAS OBVIOUS EVERY TIME THE ELEVATOR WAS USED, IS APPRECIATED.  THANK YOU.
          </p>
          <sub style="font-style: italic;">
            -SHIRLEY COMPTON, HOUSE MANAGER, FRESNAYE
          </sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            ADDRESSED TO THE LOSS ADJUSTERS
          </p>
          <p>
            HUGH SPENT  YESTERDAY WITH US, AND WE ARE VERY IMPRESSED WITH HIM!
          </p>
          <p>
            SUCH KNOWLEDGE AND KNOW HOW, WE HAVE NOT EXPERIENCED IN A LONG TIME.  HE DID A FEW EXTRA THINGS FOR US, ALL IN HIS STRIDE, AND WE REALLY APPRECIATE EVERYTHING.
          </p>
          <p>
            THE FURNITURE THAT HE WORKED ON LOOKS GREAT AND WE WERE VERY PLEASANTLY SURPRISED TO SEE THE DIFFERENCE!
          </p>
          <p>
            THANK YOU FOR SENDING HIM TO US.
          </p>
          <sub style="font-style: italic;">
            -ANDRE BOSMAN, INSURANCE CLAIM
          </sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            DEAR HUGH
          </p>
          <p>
            WE ARE EXTREMELY GRATEFUL FOR THE WONDERFUL RESTORATION WORK  YOU DID TO OUR FURNITURE AFTER THE WATER DAMAGE CAUSED BY THE BURST GEYSER.
          </p>
          <p>
            IT WAS WITH UTTER ASTONISHMENT THAT WE LOOKED AT THE PIECES OF FURNITURE THAT WE THOUGHT WERE DAMAGED BEYOND REPAIR!  YOUR WORK IS A FORM OF ART THAT FEW PEOPLE KNOW HOW TO PRACTICE WELL.  WE DID NOT EXPECT THE FURNITURE TO COME BACK LOOKING SO ABSOLUTELY PERFECT.
          </p>
          <p>
            ALTHOUGH A STRANGE MIX OF PROPER ANTIQUES AND SOME COPIES OF ANTIQUES, I AM VERY ATTACHED TO THEM ALL,  AS THEY REPRESENT “MY HOME” TO ME.  I AM VERY THANKFUL TO YOU FOR RESTORING THEM AND RETURNING THEM IN SUCH A LOVELY CONDITION.
          </p>
          <p>
            I ATTACH A FEW PHOTOS FOR YOU TO HAVE A LOOK AT:  “THE FURNITURE’S NEW HOME.”!
          </p>
          <sub style="font-style: italic;">
            -ANELIA BOTHA, HERMANUS
          </sub>
        </section>
        <section style="padding: 2em; background:rgb(254, 211, 180); margin-bottom: 20px;">
          <p>
            DEAR HUGH
          </p>
          <p>
            JUST WANTED TO THANK YOU SOOOOOOOOOOOOOOOOOOOOOOO MUCH FOR THE WORK YOU DID ON OUR DININGROOM TABLE AND FOR BEING THE DEDICATED PROFESSIONAL THAT  YOU ARE AND RETURNING TO RESTORE THE PROBLEM TABLE LEAF.
          </p>
          <p>
            AFTER SUFFERING THE PAST WEEKS WITH AN ALLERGY,  YOUR BEAUTIFUL HANDIWORK HAS LIFTED MY SPIRITS, AND AFTER APPLYING A COAT OF FURNITURE POLISH TO THE TABLE, IT SHINES LIKE NEVERY BEFORE.  THANK  YOU, THANK  YOU.
          </p>
          <sub style="font-style: italic;">
            -PAT AND IZAK DU PLESSIS, STELLENBOSCHS
          </sub>
        </section>


      </section>


      {% include footer.html %}


    </div>

</body>
