---
title: RIEMPIE AND RATTAN SEAT REPAIRSE
permalink: /riempie-and-rattan-seats/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">RIEMPIE AND RATTAN SEAT REPAIRS</h2>

				<p style="text-transform: uppercase;">
WHEN REPLACING DAMAGED RIEMPIE, WE USE NATURAL RAW HIDE  AND NOT THE SYNTHETIC OR BLEACHED VARIETY.  <br><br>
OUR RATTAN WORK IS DONE BY A TALENTED  AND RELIABLE SUBCONTRACTOR.  WE ARE ABLE TO “AGE” NEW RATTAN TO MATCH OTHER CHAIRS IN A SET IF NECESSARY.
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/riempie1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/riempie2.jpg" | relative_url }}" alt="">




				</div>

      </section>

			{% include gallery.html %}
      {% include footer.html %}


    </div>

</body>
