---
title: ROSEWOOD DINING TABLE WITH LOOSE VENEER
permalink: /rosewood-dining-table/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">ROSEWOOD DINING TABLE WITH LOOSE VENEER</h2>

				<p>
THE BIGGEST DREAD WHEN RESTORING VENEER IS TO FIND CONTACT ADHESIVE UNDERNEATH FROM A PREVIOUS “RESTORATION” !   <br><br>
ALL THE LOOSE SECTIONS HAD TO BE STEAMED OFF TO REMOVE THE CONTACT ADHESIVE FROM THE VENEER AND THE BASE WOOD.  THE GLUE IS STUBBORN AND CARE HAD TO BE TAKEN NOT TO DAMAGE THE VENEER FURTHER.  ONCE CLEANED ALL BITS WERE STUCK DOWN AGAIN WITH PERIOD APPROPRIATE BONE GLUE, MISSING BITS WERE ADDED AND SMALL DAMAGES WERE FILLED.  THE TABLE WAS THEN OILED AND FRENCH POLISHED.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/rosewood-dining1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/rosewood-dining2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/rosewood-dining3.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/rosewood-dining4.jpg" | relative_url }}" alt="">

				</div>

      </section>


      {% include footer.html %}


    </div>

</body>
