---
title: CARVING A MISSING VICTORIAN SCROLL FOOT
permalink: /scroll/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">CARVING A MISSING VICTORIAN SCROLL FOOT</h2>

				<p style="text-transform: uppercase;">
        THE MISSING FOOT WAS CUT AND GLUED IN WITH A METAL PIN.  AFTER CARVING IN THE DETAIL IT WAS COLOUR MATCHED AND FRENCH POLISHED.  FINALLY A BIT OF ‘DIRT’ WAS APPLIED TO MATCH THE REST OF THE CHAIR.</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/scroll1.jpg" | relative_url }}" alt="VICTORIAN SCROLL FOOT damaged">
					<img src="{{ "/assets/scroll2.jpg" | relative_url }}" alt="VICTORIAN SCROLL FOOT old">
					<img src="{{ "/assets/scroll3.jpg" | relative_url }}" alt="VICTORIAN SCROLL FOOT broken">
					<img src="{{ "/assets/scroll4.jpg" | relative_url }}" alt="VICTORIAN SCROLL FOOT repaired">
          <img src="{{ "/assets/scroll5.jpg" | relative_url }}" alt="VICTORIAN SCROLL FOOT restored">



				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
