---
title: Services
permalink: /services/
---

<body class="index">

	<div id="page-wrapper">

			{% include header.html %}

      <section class="wrapper style2 container special-alt" style="margin-top: 100px;">
        <div class="row 50%">
          <div class="8u 12u(narrower)">

            <header>
              <h2><strong>services</strong></h2>
            </header>
            <p>Whether the service you require includes period antique furniture, quality contemporary pieces or a repair that requires a creative "out of the box" solution... select the service required to view an example of this work done by us.. then go to "contact us"! We have recieved lots of positive feedback from clients who did just that, see <a href="{{ site.baseurl }}{% link _pages/references.html %}">references</a>.</p>
            <footer>
              <ul class="buttons">
                <li><a href="{{ site.baseurl }}{% link _pages/contact.html %}" class="button">Contact now!</a></li>
              </ul>
            </footer>

          </div>
          <div class="4u 12u(narrower) important(narrower)">
						<button class="fakeAccordian"><a href="#"></a>CONSERVATION</button>

						<button class="accordion">FINISHES</button>
						<div class="panel">
						  <h3><a href="#">French Polishing</a></h3>
							<h3><a href="#">Painted Finishes</a></h3>
							<h3><a href="#">Creating "Age" and Patina</a></h3>
							<h3><a href="#">Gilding</a></h3>
						</div>

						<button class="accordion">VENEER REPAIRS</button>
						<div class="panel">
						  <h3><a href="#">Marquetry</a></h3>
							<h3><a href="#">Other</a></h3>
						</div>

						<button class="fakeAccordian"><a href="#"></a>STRUCTURAL REPAIRS</button>

						<button class="accordion">ON SITE</button>
						<div class="panel">
							<h3><a href="#">antique and contemporary furniture</a></h3>
							<h3><a href="#">architectural fittings</a></h3>
						</div>

						<button class="accordion">INSURANCE</button>
						<div class="panel">
							<h3><a href="#">water damage</a></h3>
							<h3><a href="#">fire damage</a></h3>
						</div>

						<button class="accordion">OTHER</button>
						<div class="panel">
							<h3><a href="#">Riempie and rattan</a></h3>
							<h3><a href="#">baize fitted</a></h3>
							<h3><a href="#">leather repair</a></h3>
							<h3><a href="#">brass inlay repair</a></h3>
						</div>

						<button class="fakeAccordian"><a href="#"></a>COLLECTION AND DELIVERY</button>

          </div>
        </div>
      </section>

{% include footer.html %}


</div>

</body>
