---
title: Services
permalink: /services/
---

<body class="index">

	<div id="page-wrapper">

			{% include header.html %}

      <section class="wrapper style2 container special-alt" style="margin-top: 100px;">
        <div class="row 50%">
          <div class="8u 12u(narrower)">

            <header>
              <h2>Describe the <strong>services</strong> below, lets talk about how you want this to look and feel</h2>
            </header>
            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
            <footer>
              <ul class="buttons">
                <li><a href="{{ site.baseurl }}{% link _pages/contact.html %}" class="button">Contact now!</a></li>
              </ul>
            </footer>

          </div>
          <div class="4u 12u(narrower) important(narrower)">
            <h1>French polishing</h1>
            <h1>Veneer</h1>
            <h1>service3</h1>
            <h1>service4</h1>
            <h1>service5</h1>
            <h1>service6</h1>
          </div>
        </div>
      </section>

{% include footer.html %}


</div>

</body>
