---
title: Services
permalink: /services/
---

<body class="index">

	<div id="page-wrapper">

			{% include header.html %}

      <section class="wrapper style2 container special-alt" style="margin-top: 100px; background:rgb(189, 188, 187); ">
        <div class="row 50%">
          <div class="8u 12u(narrower)" >

            <header>
              <h2 style="color: black;"><strong>services</strong></h2>
            </header>
            <p style="color: black;">Whether the service you require includes period antique furniture, quality contemporary pieces or a repair that requires a creative "out of the box" solution... select the service required to view an example of this work done by us.. then go to "contact us"! We have recieved lots of positive feedback from clients who did just that, see <a href="{{ site.baseurl }}{% link _pages/references.html %}">references</a>.</p>
            <footer>
              <ul class="buttons">
                <li><a href="{{ site.baseurl }}{% link _pages/contact.html %}" class="button"  style="border-color: black; color: black;">Contact now!</a></li>
              </ul>
            </footer>

          </div>
          <div class="4u 12u(narrower) important(narrower)">
						<button class="fakeAccordian"><a href="{{ site.baseurl }}{% link _pages/conserving-your-antique-furniture.html %}">CONSERVATION</a></button>

						<button class="accordion">FINISHES</button>
						<div class="panel">
						  <h3><a href="{{ site.baseurl }}{% link _pages/the-wonder-of-french-polish.html %}">French Polishing</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/mid-century-modern-danish-coffee-tables.html %}">Varnish</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/transforming-wood-to-silky-black.html %}">Painted Finishes</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/creating-age-and-patina.html %}">Creating "Age" and Patina</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/gilding-repair-to-italian-table.html %}">Gilding</a></h3>
						</div>

						<button class="accordion">VENEER REPAIRS</button>
						<div class="panel">
						  <h3><a href="{{ site.baseurl }}{% link _pages/marquetry-repair.html %}">Marquetry</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/art-deco-display-cabinet-with-damaged-veneer.html %}">Other</a></h3>
						</div>

						<button class="fakeAccordian"><a href="{{ site.baseurl }}{% link _pages/structural-repair-to-late-victorian-chair.html %}">STRUCTURAL REPAIRS</a></button>

						<button class="accordion">ON SITE</button>
						<div class="panel">
							<h3><a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-antique-and-contemporary-furniture.html %}">antique and contemporary furniture</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-architectural-fittings.html %}">architectural fittings</a></h3>
						</div>

						<button class="accordion">INSURANCE</button>
						<div class="panel">
							<h3><a href="{{ site.baseurl }}{% link _pages/walnut-loo-table-with-water-damage.html %}">water damage</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/fire-damage.html %}">fire damage</a></h3>
						</div>

						<button class="accordion">OTHER</button>
						<div class="panel">
							<h3><a href="{{ site.baseurl }}{% link _pages/fire-damage.html %}">Riempie and rattan</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/georgian-card-table-with-damaged-baize.html %}">baize fitted</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/damaged-ebony-library-table.html %}">leather repair</a></h3>
							<h3><a href="{{ site.baseurl }}{% link _pages/boule-cabinet-in-distress.html %}">brass inlay repair</a></h3>
						</div>

						<button class="fakeAccordian"><a href="{{ site.baseurl }}{% link _pages/services.html %}">Collection and delivery</a></button>

          </div>
        </div>
      </section>

{% include footer.html %}


</div>

</body>
