---
title: MAJOR RESTORATION OF AN ANTIQUE SHOP DISPLAY
permalink: /shop/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">MAJOR RESTORATION OF AN ANTIQUE SHOP DISPLAY</h2>

				<p style="text-transform: uppercase;">
        THIS SHOP DISPLAY ARRIVED RESEMBLING A PILE OF MOTH EATEN FIRE WOOD!<br><br>
         AFTER AN INFINITE NUMBER OF STRUCTURAL AND VENEER REPAIRS, FITTING A CURVED GLASS PANEL AND MIRRORS, RE FRENCH POLISHING AND LOTS OF “COSMETICS”, WE DELIVERED A RATHER HANDSOME DISPLAY.
       </p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/shop1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/shop2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/shop3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/shop4.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/shop5.jpg" | relative_url }}" alt="">



				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
