---
title: The Wonder of French Polish
permalink: /the-wonder-of-french-polish/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">THE WONDER OF FRENCH POLISH</h2>

				<p>
          THIS VERY BEAUTIFUL BOMBE CHEST OF DRAWERS HAD PREVIOUSLY BEEN OVER RESTORED AND  VARNISHED!  THIS IS NEVER A GOOD IDEA WITH VENEERED PIECES, ESPECIALLY ANTIQUES WHERE BONE GLUE HAS BEEN USED.  THE VARNISH CONTRACTS OVER TIME AND WEAKENS THE BOND BETWEEN THE VENEER AND CARCASS WOOD,CAUSING LIFTING, BUBBLING AND ULTIMATELY LOSS OF VENEERS AND INLAYS.
<br><br>
ONE OF THE MANY MARVELS OF FRENCH POLISH IS THAT IT IS COMPLETELY COMPATIBLE WITH BONE GLUE AND DOES NOT CAUSE DAMAGES TO VENEERS.
<br><br>
RICH TONES, SOFT SHINE AND SILKY FINISH ARE A FEW OF THE OTHER MANY CONTRIBUTIONS FRENCH POLISH MAKES TO A GOOD RESTORATION. <a href="{{ site.baseurl }}{% link _pages/references.html %}">READ CLIENT’S RESPONSE  IN REFERENCES – KARIN BEHNSEN,</a>
				</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/french-polish1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/french-polish2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/french-polish3.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/french-polish4.jpg" | relative_url }}" alt="">

				</div>

      </section>


      {% include footer.html %}


    </div>

</body>
