---
title: TRANSFORMING WOOD TO SILKY BLACK
permalink: /transforming-wood-to-silky-black/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">TRANSFORMING WOOD TO SILKY BLACK</h2>

				<p style="text-transform: uppercase;">
        RE DECORATING AND UPDATING INTERIOR SPACES DOES NOT ALWAYS MEAN SPENDING A FORTUNE ON NEW FURNITURE.  THIS  CLIENT CHOSE TO MODERNISE HER DINING TABLE WITH A PAINTED FINISH.<br><br>
        AFTER HAND APPLYING NUMBEROUS COATS OF BLACK ENAMEL,WE  SPENT SOME TIME CREATING A RICH, SMOOTH, EBONISED LOOK USING OUR ‘SECRET METHOD’!</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/transform1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/transform2.jpg" | relative_url }}" alt="">




				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
