---
title: WATER DAMAGED BIEDERMEIER TABLE
permalink: /water-damaged-table/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">WATER DAMAGED BIEDERMEIER TABLE</h2>

				<p>
BIEDERMEIER REFERS TO A STYLE OF CENTRAL EUROPEAN FURNITURE  FROM THE FIRST HALF OF THE 19TH CENTURY. <br><br>
WATER HAD DAMAGED THE EBONY INLAY AND STRINGING.  CARE WAS TAKEN TO STABILIZE THE LOOSE BITS AND REPLACE THOSE MISSING.  MANY SECTIONS OF VENEER WERE LOOSE ON THE BASE. <br><br>
ONCE THE TABLE WAS OILED AND FRENCH POLISHED, IT WAS BACK TO ITS FORMER GLORY!	</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/water-damage1.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/water-damage2.jpg" | relative_url }}" alt="">
					<img src="{{ "/assets/water-damage3.jpg" | relative_url }}" alt="">
          <img src="{{ "/assets/water-damage4.jpg" | relative_url }}" alt="">

				</div>

      </section>


      {% include footer.html %}


    </div>

</body>
