---
title: WATER  DAMAGED BURR WALNUT CHEST OF DRAWERS
permalink: /water-damage/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">WATER DAMAGED BURR WALNUT CHEST OF DRAWERS</h2>

				<p style="text-transform: uppercase;">
        AN UNFORTUNATE ACCIDENT!  DAMAGED VENEER WAS CUT AWAY AND A MATCHING VENEER PATCH WAS LAID TO FOLLOW THE CURVES AND PATTERNING OF THE BURR WALNUT.  THIS SHAPING OF THE PATCH HELPS IT TO “MIRACULOUSLY” DISAPPEAR!  THE CROSS BANDED EDGE WAS REPLACED WITH MATCHING STRAIGHT GRAINED WALNUT.   </p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/walnut1.jpg" | relative_url }}" alt="WATER DAMAGED BURR WALNUT CHEST OF DRAWERS">
					<img src="{{ "/assets/walnut2.jpg" | relative_url }}" alt="AN UNFORTUNATE ACCIDENT">
					<img src="{{ "/assets/walnut3.jpg" | relative_url }}" alt="DAMAGED VENEER WAS CUT AWAY">
					<img src="{{ "/assets/walnut4.jpg" | relative_url }}" alt="restored and repaired walnut chest of drawers">



				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
