---
title: YELLOWWOOD AND STINKWOOD CHEST OF DRAWERS
permalink: /yellowwood/
---

<body class="index">

	 <div id="page-wrapper">

			{% include header.html %}

			<section class="wrapper container">

				<h2 style="text-align: center; font-weight: bold;">YELLOWWOOD AND STINKWOOD CHEST OF DRAWERS</h2>

				<p style="text-transform: uppercase;">
A FINE EXAMPLE OF A SOUTH AFRICAN CHEST OF DRAWERS WHICH HAD NOT RECEIVED ANY TENDER LOVING CARE FOR A WHILE!  <br><br>
THE PIECE WAS FED ON THE INSIDE, OILED AND LIGHTLY FRENCH POLISHED.  THE CLEANED AND SEALED BRASS ADDED THE FINISHING TOUCH.
</p>

				<div class="sorted-gallery">
					<img src="{{ "/assets/yellowwood1.jpg" | relative_url }}" alt="YELLOWWOOD AND STINKWOOD CHEST OF DRAWERS">
					<img src="{{ "/assets/yellowwood2.jpg" | relative_url }}" alt="A SOUTH AFRICAN CHEST OF DRAWERS WHICH HAD NOT RECEIVED ANY TENDER LOVING CARE FOR A WHILE">
					<img src="{{ "/assets/yellowwood3.jpg" | relative_url }}" alt="restoration process">
					<img src="{{ "/assets/yellowwood4.jpg" | relative_url }}" alt="THE CLEANED AND SEALED BRASS ADDED THE FINISHING TOUCH">


				</div>

      </section>

			{% include gallery.html %}


      {% include footer.html %}


    </div>

</body>
