<footer id="footer">

  <section class="split">
    <h3>WORKSHOP: 021 715 2433 <br> CELL: 083 532 7026 <br> antiquewshop@telkomsa.net <br> 10 Rose Avenue, Kirstenhof, cape Town 7945 <br> <a style="color: rgb(70, 78, 182);"href="{{ site.baseurl }}{% link index.html %}">Home Page</a></h3>
  </section>

  <ul class="icons">
    <li><a href="https://www.facebook.com/Hugh-and-Verna-Lane-Antique-Furniture-Restoration-192220094235376/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.google.co.za/search?q=antiquerestoration&oq=antiquerestoration&gs_l=psy-ab.3...27216.30578.0.30924.18.10.0.0.0.0.0.0..0.0....0...1.1.64.psy-ab..18.0.0....0.a-7Y3g_TJog" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
    <li><a href="https://www.instagram.com/antiquerestorationsa" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; Hugh and Verna Lane</li><li>Design: Nomad Webworks &amp; <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>

</footer>
