

<section class="wrapper style1 special gallery">

  <h2>Take a look at some of <strong>our latest</strong> work!</h2>


  <div class="swiper-container2">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            {% img test10 %}

          </div>
          <div class="swiper-slide">
            {% img test9 %}

          </div>
          <div class="swiper-slide">
            {% img test7 %}

          </div>
          <div class="swiper-slide">
            {% img test1 %}

          </div>
      </div>
      <!-- Add Pagination -->
  </div>
  <div class="swiper-container2 bottom-padded">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/services.html %}">{% img test1 %}</a>

          </div>
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/services.html %}">{% img test7 %}</a>

          </div>
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/services.html %}">{% img test9 %}</a>

          </div>
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/services.html %}">{% img test10 %}</a>

          </div>
      </div>
      <!-- Add Pagination -->
  </div>

</section>
