

<section class="wrapper style1 special gallery">

  <h2>Take a look at some of <strong>our previous</strong> work! <br> &lt;scroll&gt;</h2>


  <div class="swiper-container2">
      <div class="swiper-wrapper">

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/the-wonder-of-french-polish.html %}">{% img french-polish2 %}</a>
            <div class="">
              The Wonder of French Polish
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/rosewood-dining-table-with-loose-veneer.html %}">{% img rosewood-dining3g%}</a>
              <div class="">
                Rosewood Dining Table with Veneer Damage
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-antique-and-contemporary-furniture.html %}">{% img on-site-restoration1 %}</a>
              <div class="">
                On Site Restoration
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/collection-of-italian-furniture.html %}">{% img italian-furniture5g %}</a>
            <div class="">
              A Fine Collection of Carved, Painted and Gilded Italian Furniture
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/mid-century-modern-danish-coffee-tables.html %}">{% img danish-coffee4%}</a>
              <div class="">
                Mid Century Modern Danish Coffee Table
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/boule-cabinet-in-distress.html %}">{% img boulle0g %}</a>
              <div class="">
                Boule Cabinet in Distress
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/gilding-repair-to-italian-table.html %}">{% img gild4g %}</a>
            <div class="">
              Gilding Repair to Italian Glass Top-Side Table
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-architectural-fittings.html %}">{% img fittings0g%}</a>
              <div class="">
                On Site Repair to Architectural Fittings
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/georgian-card-table-with-damaged-baize.html %}">{% img george2 %}</a>
              <div class="">
                Georgian Mahogany Card Table with Damaged Baize
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/creating-age-and-patina.html %}">{% img patina2 %}</a>
            <div class="">
              Creating Age and Patina
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/creative.html %}">{% img creative1 %}</a>
              <div class="">
                Creative Cosmetics on a Mismatched Veneer Patch
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/fire-damage.html %}">{% img fire0g %}</a>
              <div class="">
                Fire Damage Repairs
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/conserving-your-antique-furniture.html %}">{% img conserve1g %}</a>
            <div class="">
              Conserving Your Antique Furniture
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/horse.html %}">{% img horse4g %}</a>
              <div class="">
                Horse with Brass and Ivory Embelishments
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/chinese.html %}">{% img chinese0g %}</a>
              <div class="">
                An Exquisite Collection of Chinese Antiques
              </div>
          </div>


      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination2"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev2"></div>
      <div class="swiper-button-next2"></div>

  </div>

  <div class="swiper-container3 bottom-padded">
      <div class="swiper-wrapper">

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/water-damaged-biedermeier-table.html %}">{% img water-damage2 %}</a>
            <div class="">
              Biedermeier Table with Water Damage
            </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/damaged-ebony-library-table.html %}">{% img ebony-damaged-leather4g %}</a>
            <div class="">
              Ebony Library Table with Damaged Leather Top
            </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/marquetry-repair.html %}">{% img marquetry1 %}</a>
            <div class="">
              Marquetry Repair
            </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/yellowwood.html %}">{% img yellowwood0 %}</a>
            <div class="">
              Yellowwood and Stinkwood Chest of Drawers
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/walnut-loo-table-with-water-damage.html %}">{% img waterloo1 %}</a>
              <div class="">
                Walnut Loo Table with Water Damage
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/art-deco-display-cabinet-with-damaged-veneer.html %}">{% img art0g %}</a>
              <div class="">
                Art Deco Display Cabinet with Veneer Damage
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/structural-repair-to-late-victorian-chair.html %}">{% img chair0g %}</a>
            <div class="">
              Structural Repair to Late Victorian Chair
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/water-damage.html %}">{% img walnut1 %}</a>
              <div class="">
                Water Damage on Burr Walnut Chest of Drawers
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/transforming-wood-to-silky-black.html %}">{% img transform0 %}</a>
              <div class="">
                Transforming Wood to Silky Black
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/mache.html %}">{% img mache4g %}</a>
            <div class="">
              Paper Mache and Delicate Inlay Repairs
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/deco.html %}">{% img deco0g %}</a>
              <div class="">
                Art Deco Arm Chairs with Veneer Damage
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/riempie-and-rattan-seats.html %}">{% img riempie1 %}</a>
              <div class="">
                Riempie and Rattan Seat Repairs
              </div>
          </div>

          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/shop.html %}">{% img shop0g %}</a>
            <div class="">
              Major Restoration of an Antique Shop Display
            </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/scroll.html %}">{% img scroll5g %}</a>
              <div class="">
                Crafting a Missing Victorian Scroll Foot
              </div>
          </div>

          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/gun.html %}">{% img gun0 %}</a>
              <div class="">
                Restoring a Treasured Gun Box
              </div>
          </div>

      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination3"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev3"></div>
      <div class="swiper-button-next3"></div>

  </div>

</section>
