

<section class="wrapper container style1 special gallery">

  <h2>Take a look at some of <strong>our previous</strong> work!</h2>


  <div class="swiper-container2">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/the-wonder-of-french-polish.html %}">{% img french-polish2 %}</a>


          </div>
          <div class="swiper-slide">
                          <a href="{{ site.baseurl }}{% link _pages/rosewood-dining-table-with-loose-veneer.html %}">{% img rosewood-dining3%}</a>

          </div>
          <div class="swiper-slide">
              <a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-antique-and-contemporary-furniture.html %}">{% img on-site-restoration1 %}</a>

          </div>
      </div>
      <!-- Add Pagination -->
  </div>
  <div class="swiper-container2 bottom-padded">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/water-damaged-biedermeier-table.html %}">{% img water-damage2 %}</a>

          </div>
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/damaged-ebony-library-table.html %}">{% img ebony-damaged-leather4 %}</a>

          </div>
          <div class="swiper-slide">
            <a href="{{ site.baseurl }}{% link _pages/marquetry-repair.html %}">{% img marquetry1 %}</a>

          </div>
      </div>
      <!-- Add Pagination -->
  </div>

</section>
