<header id="header" class="alt">
	<h1 id="logo"><a href="{{ site.baseurl }}{% link index.html %}"><img src="{{ "/assets/header-logo.PNG" | relative_url }}" alt="header logo" class="logo" ></a></h1>
	<nav id="nav">
		<ul>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/about.html %}">About</a></li>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/gallery.html %}">Gallery</a></li>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/references.html %}">References</a></li>
			<li class="submenu">

				<a href="{{ site.baseurl }}{% link _pages/services.html %}">Services</a>
				<ul>

					<li><a href="{{ site.baseurl }}{% link _pages/conserving-your-antique-furniture.html %}">Conservation</a></li>

					<li class="submenu">
						<a href="#">Finishes</a>
						<ul>
							<li><a href="{{ site.baseurl }}{% link _pages/the-wonder-of-french-polish.html %}">french polishing</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/mid-century-modern-danish-coffee-tables.html %}">varnish</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/transforming-wood-to-silky-black.html %}">painted finishes</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/creating-age-and-patina.html %}">creating "age" and patina</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/gilding-repair-to-italian-table.html %}">gilding</a></li>
						</ul>
					</li>

					<li class="submenu">
						<a href="#">Venner Repairs</a>
						<ul>
							<li><a href="{{ site.baseurl }}{% link _pages/marquetry-repair.html %}">marquetry</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/art-deco-display-cabinet-with-damaged-veneer.html %}">Other</a></li>
						</ul>
					</li>

					<li><a href="{{ site.baseurl }}{% link _pages/structural-repair-to-late-victorian-chair.html %}">Structural Repairs</a></a></li>

					<li class="submenu">
						<a href="#">On Site</a>
						<ul>
							<li><a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-antique-and-contemporary-furniture.html %}">antique and <br> contemporary furniture</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/on-site-restoration-of-architectural-fittings.html %}">architectural fittings</a></li>
						</ul>
					</li>

					<li class="submenu">
						<a href="#">Insurance</a>
						<ul>
							<li><a href="{{ site.baseurl }}{% link _pages/walnut-loo-table-with-water-damage.html %}">water damage</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/fire-damage.html %}">fire damage</a></li>
						</ul>
					</li>

					<li class="submenu">
						<a href="#">Other</a>
						<ul>
							<li><a href="{{ site.baseurl }}{% link _pages/riempie-and-rattan-seats.html %}">riempie and rattan</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/georgian-card-table-with-damaged-baize.html %}">baize fitted</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/damaged-ebony-library-table.html %}">leather repair</a></li>
							<li><a href="{{ site.baseurl }}{% link _pages/boule-cabinet-in-distress.html %}">brass inlay repair</a></li>
						</ul>
					</li>

					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Collection and delivery</a></li>

				</ul>
			</li>
			<li><a href="{{ site.baseurl }}{% link _pages/contact.html %}" class="button special">Contact Us</a></li>
		</ul>
	</nav>
</header>
