<header id="header" class="alt">
	<h1 id="logo"><a href="{{ site.baseurl }}{% link index.html %}">ANTIQUE <span>RESTORATION</span></a></h1>
	<nav id="nav">
		<ul>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/gallery.html %}">Gallery</a></li>
			<li class="submenu">

				<a href="{{ site.baseurl }}{% link _pages/services.html %}">Services</a>
				<ul>

					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">French Polishing</a></li>
					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Veneer</a></li>
					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Marquetry</a></li>
					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Mobile Workshop</a></li>

					<li class="submenu">
						<a href="#">Example</a>
						<ul>
							<li><a href="#">Test1</a></li>
							<li><a href="#">Test2</a></li>
						</ul>
					</li>

				</ul>
			</li>
			<li><a href="{{ site.baseurl }}{% link _pages/contact.html %}" class="button special">Contact Us</a></li>
		</ul>
	</nav>
</header>
