<header id="header" class="alt">
	<h1 id="logo"><a href="{{ site.baseurl }}{% link index.html %}">ANTIQUE <span>RESTORATION</span></a></h1>
	<nav id="nav">
		<ul>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/about.html %}">About</a></li>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/gallery.html %}">Gallery</a></li>
			<li class="current"><a href="{{ site.baseurl }}{% link _pages/references.html %}">References</a></li>
			<li class="submenu">

				<a href="{{ site.baseurl }}{% link _pages/services.html %}">Services</a>
				<ul>

					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Conservation</a></li>

					<li class="submenu">
						<a href="#">Finishes</a>
						<ul>
							<li><a href="#">french polishing</a></li>
							<li><a href="#">varnish</a></li>
							<li><a href="#">painted finishes</a></li>
							<li><a href="#">creating "age" and patina</a></li>
							<li><a href="#">gilding</a></li>
						</ul>
					</li>

					<li class="submenu">
						<a href="#">Venner Repairs</a>
						<ul>
							<li><a href="#">marquetry</a></li>
							<li><a href="#">Other</a></li>
						</ul>
					</li>

					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Structural Repairs</a></a></li>

					<li class="submenu">
						<a href="#">On Site</a>
						<ul>
							<li><a href="#">antique and contemporary furniture</a></li>
							<li><a href="#">architectural fittings</a></li>
						</ul>
					</li>

					<li class="submenu">
						<a href="#">Insurance</a>
						<ul>
							<li><a href="#">water damage</a></li>
							<li><a href="#">fire damage</a></li>
						</ul>
					</li>

					<li class="submenu">
						<a href="#">Other</a>
						<ul>
							<li><a href="#">riempie and rattan</a></li>
							<li><a href="#">baize fitted</a></li>
							<li><a href="#">leather repair</a></li>
							<li><a href="#">brass inlay repair</a></li>
						</ul>
					</li>

					<li><a href="{{ site.baseurl }}{% link _pages/services.html %}">Collection and delivery</a></li>

				</ul>
			</li>
			<li><a href="{{ site.baseurl }}{% link _pages/contact.html %}" class="button special">Contact Us</a></li>
		</ul>
	</nav>
</header>
