<section id="banner" class="background3">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">
		<img src="{{ "/assets/header-logo.PNG" | relative_url }}" alt="header logo" class="image-size" >

		<p style="margin-top: 1em;">from <strong>conservative</strong> restoration
		<br />
		to projects requiring creative and
		<br />
		<strong>"Out of the box"</strong> solutions
		</p>
		<footer class="front-footer">
			<ul class="buttons vertical">
				<li><a href="callto:x" class="button scrolly" style="font-family: 'Montserrat';">TEL: 021 715 2433</a></li>
			</ul>
		</footer>
	</div>


</section>
