<section id="banner" class="background2">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">
			<img src="assets/header-logo.PNG" alt="header logo" class="image-size" >
		<p style="margin-top: 0.2em;">We are <strong>Commited</strong> to <strong>Uncompromising</strong>
		<br />
		quality of workmanship in our
		<br />
		restoration and have worked for many
		<br>
		fine antique dealers, decorators and
		<br>
		passionate private collertors. Our
		<br>
		vlients continue trusting us to offer a
		<br>
		personal service of the highest quality</p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="callto:x" class="button scrolly">TEL: 021 715 2433</a></li>
			</ul>
		</footer>
	</div>


</section>
