<section id="banner" class="background1">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
			<div class="inner">
				<img src="assets/header-logo.PNG" alt="header logo" class="image-size" >
				<p style="margin-top: 0.2em;">Adding <strong>Value</strong>, and <strong>Beauty</strong> to an
				<br />
				outstanding vareity of antique
				<br />
				furniture since 1989</p>
				<footer>
					<ul class="buttons vertical">
						<li><a href="callto:x" class="button scrolly">TEL: 021 715 2433</a></li>
					</ul>
				</footer>
			</div>

</section>
