<section id="banner" class="background1">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
			<div class="inner">
				<img src="{{ "/assets/header-logo.PNG" | relative_url }}" alt="header logo" class="image-size" >
				<p style="margin-top: 0.2em; ">Quality <strong>Resoration</strong> and <strong>conservation</strong>
				<br />
				of period antique pieces
				<br />
				as well as fine contemporary
				<br>
				furniture since 1989
				</p>
				<footer>
					<ul class="buttons vertical">
						<li><a href="callto:x" class="button scrolly">TEL: 021 715 2433</a></li>
					</ul>
				</footer>
			</div>

</section>
