<section id="banner" class="background3">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">
		<img src="assets/header-logo.PNG" alt="header logo" class="image-size" >
		<p style="margin-top: 0.2em;">Our approach includes being <strong>mindful</strong>
		<br />
		of the taste and wishes of each client,
		<br />
		as well as the <strong>specific</strong> resoration
		<br>
		requirements of each individual piece</p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="callto:x" class="button scrolly">TEL: 021 715 2433</a></li>
			</ul>
		</footer>
	</div>

</section>
