<header class="special">
  <div class="split">
    <div class="left" style="text-align: left;">
      <h2 style="text-align: center;">Our Story</h2>
      <p>ADDING <strong>VALUE AND BEAUTY</strong> TO AN OUTSTANDING VARIETY of period antique pieces and fine contemporary furniture since 1989</p>
        <p style="margin-bottom: 1em;"><strong>on site</strong> restoration and repair service</p>
        <p style="margin-bottom: 1em;"><strong>uncompromising quality</strong> of workmanship in our restoration</p>
        <p style="margin-bottom: 1em;"><strong>mindful</strong> of the taste and wishes of each client </p>
        <p style="margin-bottom; 0.5em;"><a href="{{ site.baseurl }}{% link _pages/about.html %}" >read more...</a></p>
    </div>
      <img src="{{ "/assets/our-story.JPG" | relative_url }}" alt="" class="right">
  </div>
</header>
