<header class="special">
  <div class="split">
    <div class="left" style="text-align: left;">
      <h2 style="text-align: center;">Our Story</h2>
      <p style="margin-bottom: 0.8em; padding-top: 0.5em;">HAVING STARTED OUR BUSINESS DURING THE EIGHTIES ANTIQUE BOOM, OUR TRAINING WAS IN AND OUR EMPHASIS WAS ON CONSERVATIVE RESTORATION AND CONSERVATION.</p>
        <p style="margin-bottom: 0.8em;">HOWEVER, SINCE THEN INTERIOR STYLES HAVE BECOME SO MUCH MORE ECLECTIC AND INCLUSIVE.</p>
        <p style="margin-bottom: 0.8em;">WE HAVE APPLIED OUR EXPERTISE AND DEVELOPED NEW SKILLS TO INCLUDE 20TH CENTURY AND MODERN QUALITY FURNITURE... ALWAYS BEING MINDFUL OF THE TASTE AND WISHES OF EACH CLIENT, AS WELL AS SPECIFIC RESTORATION REQUIREMENTS OF EACH INDIVIDUAL PIECE.</p>
        <p style="margin-bottom; 0.2em;"><a href="{{ site.baseurl }}{% link _pages/about.html %}" >read more...</a></p>
    </div>
      <img src="{{ "/assets/our-story2.png" | relative_url }}" alt="Hugh and Verna Lane, Antique Restoration Specialists" class="right">
  </div>
</header>
