<header class="special">
  <h2 style="font-size: 2.5em; margin-bottom: 1em;"><strong>Our Story</strong></h2>
  <div class="split">
    <div class="left" style="text-align: left;">
      <p>ADDING <strong>VALUE AND BEAUTY</strong> TO AN OUTSTANDING VARIETY of period antique pieces and fine contemporary furniture since 1989</p>
        <p><strong>on site</strong> restoration and repair service</p>
        <p><strong>uncompromising quality</strong> of workmanship in our restoration</p>
        <p><strong>mindful</strong> of the taste and wishes of each client </p>
        <p><a href="{{ site.baseurl }}{% link _pages/about.html %}" >read more...</a></p>
    </div>
      <img src="{{ "/assets/our-story.JPG" | relative_url }}" alt="" class="right">
  </div>
</header>
