<header class="special container">

<h1>Take a look at what our previous customers have to say</h1>

<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">{% include testimonial1.html %}</div>
        <div class="swiper-slide">{% include testimonial2.html %}</div>
    </div>
</div>

  <p><a href="{{ site.baseurl }}{% link _pages/references.html %}" style="text-align: left;"> Read the full testimonial</a></p>

</header>
