
<figure>
  <br>
  <blockquote>
    "In all the years that I ran Bygones Antiques in Constantia, Cape Town, Hugh Lane was the best restorer I ever worked with. We dealt in almost every kind of antique English and French furniture, from 18th century (and earlier) oak and walnut, right through the age of mahogany and on through to curvy Victorian and Napoleon 111 - and Hugh was equal to it all. As the fashion for antique painted furniture took hold, Verna joined Hugh's workshop to work with antique painted surfaces and gilded items, working to the same high standards... "
    <sub>
      - <cite class="name">Sheila Boardman</cite>, <cite class="field">Past Chairman (SA Antique dealers association)</cite>
    </sub>
  </blockquote>

</figure>
